{% load staticfiles %}
<html>
    <head>
        <title>Course Detail</title>
    </head>
    <body>
            <div class="name-of-course">
                    <h1>{{name.name}}</h1>
                    <h2>Date of event is {{date}}</h2>
            </div>
        {% if list_of_people_registered %}
        <h3>Participants:</h3>
            {% for enrollment in list_of_people_registered %}
                <div class="content container">
                    <div class = "row">
                        <div class="col-md-8">
                            {{ enrollment.person }}
                        </div>
                    </div>
                </div>
            {% endfor %}    
        {% else %}
            <p>No participants.</p>
        {% endif %}
        {% now "Y-m-d h:m:s" as todays_date %}
        {% if todays_date < date|date:'Y-m-d h:m' %}
            {% if amount_of_vacancies > 0 %}
                <div class="places">
                    <h2>Amount of vacancies</h2>
                    {{ amount_of_vacancies }}
                </div>
                <div class="register">
                    <h2>
                        <a href="/polls/{{ name.name }}/new_enrollment">Sign up for a course</a>
                    </h2>    
                </div>
            {% endif %}
        {% endif %}
            

    </body>
</html>
